.xans-myshop-benefit { margin:0 auto; padding:60px 0 0 0; color:#333; width:900px; font-size:11px;}
.xans-myshop-benefit .inner{ overflow:hidden; zoom:1; padding:0; }

.xans-myshop-benefit div.myInfo { width:250px; line-height:20px; background-color:#ffffff; padding:20px; color:#555555; border-top:2px solid #cccccc;}
.xans-myshop-benefit div.myInfo h3 { font-size:20px; width:100%; padding:10px 0 0 0; color:#333333;}
.xans-myshop-benefit div.myInfo p { margin:10px 0 0 0;padding:10px 0 0 0; font-size:12px; font-weight:bold; color:#333333;}

.xans-myshop-benefit div.myInfo a { color:#333333;}
.xans-myshop-benefit div.myInfo a:hover { color:#888888;}



.xans-myshop-benefit p span.typeBlock { margin:10px 0 0 0;padding:10px 0 0 0; display:block; font-size:11px; color:#888888; }

/* 마이페이지 상단*/
.xans-myshop-benefit #inner2 { overflow:hidden; border:2px solid #f1f1f1; zoom:1; padding:0; margin-top:-40px; padding:0 20px 0 20px; background: #ffffff url("/test/images/logo_mini_60.png") no-repeat 97% 17%;}

.xans-myshop-benefit #inner2 div.myInfo2 { float:left; width:20%; line-height:20px; background-color:#ffffff; padding:10px 20px 15px 20px; color:#555555; border-bottom:4px solid #cccccc;}
.xans-myshop-benefit #inner2 div.myInfo2 h3 { font-size:16px; width:100%; padding:10px 0 0 0; color:#333333;}
.xans-myshop-benefit #inner2 div.myInfo2 p { margin:5px 0 0 0;padding:5px 0 0 0; font-size:11px; font-weight:bold; color:#333333;}

.xans-myshop-benefit #inner2 div.myInfo3 { float:right; width:80%; line-height:20px; padding:16px 40px 15px 20px; color:#555555; text-align:right;}
.xans-myshop-benefit #inner2 div.myInfo3 .mypage { width:100%; padding:30px 0 0 0; color:#000000; font-size:14px; font-weight:bold;}
.xans-myshop-benefit #inner2 div.myInfo3 .mypage a { font-size:14px; font-weight:bold;  color:#888888;}
.xans-myshop-benefit #inner2 div.myInfo3 .mypage a:hover { font-size:14px; font-weight:bold;  color:#333333; text-decoration:none;}
.xans-myshop-benefit #inner2 div.myInfo3 .mypage img {margin:7px 10px;}
.xans-myshop-benefit #inner2 div.myInfo3 p { margin:5px 0 0 0;padding:5px 0 0 0; font-size:11px; font-weight:bold; color:#333333;}