.xans-myshop-boardlistpaging { clear:both; text-align:center; padding:8px 0; text-align:center; margin:0 auto 50px; width:900px; border-bottom:2px solid #e8e8e8;}
.xans-myshop-boardlistpaging .pagingdh {float:right; background-color:#ffffff; padding-left:20px;}
.xans-myshop-boardlistpaging p,
.xans-myshop-boardlistpaging ol,
.xans-myshop-boardlistpaging li { display:inline; }
.xans-myshop-boardlistpaging img {vertical-align:middle; }
.xans-myshop-boardlistpaging ol { margin:0 7px; }
.xans-myshop-boardlistpaging li { margin:0 5px 0 0; padding:0 0 0 5px; font-size:11px; }
.xans-myshop-boardlistpaging li:first-child { background:none; }
.xans-myshop-boardlistpaging li strong { color:#000000; }
.xans-myshop-boardlistpaging li a { color:#888888; }
.xans-myshop-boardlistpaging li a:hover { color:#000000; text-decoration:none; }
.xans-myshop-boardlistpaging li a.nolink { cursor:default; }

