.xans-myshop-boardlistsearch { margin:20px 0 0; padding:2px 8px; background:#d9d9d9; color:#888; font-size:.9em;  }
.xans-myshop-boardlistsearch p { padding:10px 0; }
.xans-myshop-boardlistsearch input { border:1px solid #bcbcbc; padding:2px; }
.xans-myshop-boardlistsearch .boardSearch { display:block; }
