.xans-myshop-historypaging  { clear:both; text-align:center; padding:8px 0; text-align:center; margin:0 auto 50px; width:900px; border-bottom:2px solid #e8e8e8;}
.xans-myshop-historypaging .pagingdh {float:right; background-color:#ffffff; padding-left:20px;}
.xans-myshop-historypaging p,
.xans-myshop-historypaging ol,
.xans-myshop-historypaging li { display:inline; }
.xans-myshop-historypaging img {vertical-align:middle; }
.xans-myshop-historypaging ol { margin:0 7px; }
.xans-myshop-historypaging li { margin:0 5px 0 0; padding:0 0 0 5px; font-size:11px; }
.xans-myshop-historypaging li:first-child { background:none; }
.xans-myshop-historypaging li strong { color:#000000; }
.xans-myshop-historypaging li a { color:#888888; }
.xans-myshop-historypaging li a:hover { color:#000000; text-decoration:none; }
.xans-myshop-historypaging li a.nolink { cursor:default; }