.xans-myshop-orderhistorynologin {  margin:30px auto; padding:30px; font-size:11px; color:#8f8f91; text-align:center; width:100%; height:160px; background-color: transparent; background-color: rgba(255, 255, 255, 0.8);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff); /* IE6–IE9 */  zoom: 1;}
.xans-myshop-orderhistorynologin .nonall { margin:0 auto; width:740px; text-align:left; border:0px solid #000;}
.xans-myshop-orderhistorynologin h3 {  margin:0 0 20px 0; }
.xans-myshop-orderhistorynologin .subtxt {  float:left; margin:0; width:40%}


.xans-myshop-orderhistorynologin .loginArea {  float:left; overflow:hidden; zoom:1; padding:0; width:60%;}
.xans-myshop-orderhistorynologin .loginArea table td {padding:3px; color:#555555;}
.xans-myshop-orderhistorynologin .loginArea input { padding:5px; background-color:#9e9e9e; color:#ffffff; width:90px; }
.xans-myshop-orderhistorynologin .loginArea .btn {border:none; background:none; width:112px; height:44px; }

.xans-myshop-orderhistorynologin p.btn { float:right; }
.xans-myshop-orderhistorynologin p.btnDaum { padding:0 0 0 7px; background:url(http://img.echosting.cafe24.com/design/skin/mono/ico_login.gif) 0 50% no-repeat;}
