.xans-myshop-orderhistorylist {margin:0 auto 20px; padding:0; color:#333; width:900px; font-size:11px;}

.xans-myshop-orderhistorylist .titleArea { margin:20px 0 30px 0; font-size:11px; color:#888888; padding:0 25px;}
.xans-myshop-orderhistorylist .titleArea span { font-size:12px; font-weight:bold; margin:0 0 10px 0; color:#555555;}

.xans-myshop-orderhistorylist h3 { float:left; margin:10px 0 10px 0; font-size:14px;}




.xans-myshop-orderhistorylist .orderList {margin:10px auto; width:100%; }
.xans-myshop-orderhistorylist table {background:none; border:8px solid #f1f1f1;}
.xans-myshop-orderhistorylist table th { padding:9px 10px; font-size:11px; color:#afafaf; font-weight:400; height:40px; line-height:20px; border-bottom:2px solid #f1f1f1;  }
.xans-myshop-orderhistorylist table td {padding:20px 10px; font-size:11px; text-align:center; border-top:2px solid #f1f1f1; color:#888888;}
.xans-myshop-orderhistorylist table .first td {border:0; }
.xans-myshop-orderhistorylist table .date { width:15%; }
.xans-myshop-orderhistorylist table .number { width:20%; }
.xans-myshop-orderhistorylist table .number a { color:#333333; font-weight:bold; font-size:12px;}
.xans-myshop-orderhistorylist table .number a:hover { color:#888888; font-weight:bold; font-size:12px;}
.xans-myshop-orderhistorylist table td.product { width:40%; font-size:11px; text-align:left; padding-left:10px; }
.xans-myshop-orderhistorylist table td.price { width:10%; color:#333333; font-weight:bold; }
.xans-myshop-orderhistorylist table td.state { width:15%; }

.xans-myshop-orderhistorylist table a,
.xans-myshop-orderhistorylist table a:hover { color:#8f8f8f; }
