.xans-myshop-orderhistorypaging { clear:both; text-align:center; padding:8px 0; text-align:center; margin:0 auto 50px; width:900px; border-bottom:2px solid #e8e8e8;}
.xans-myshop-orderhistorypaging  .pagingdh {float:right; background-color:#ffffff; padding-left:20px;}
.xans-myshop-orderhistorypaging p,
.xans-myshop-orderhistorypaging ol,
.xans-myshop-orderhistorypaging li { display:inline; }
.xans-myshop-orderhistorypaging img {vertical-align:middle; }
.xans-myshop-orderhistorypaging ol { margin:0 7px; }
.xans-myshop-orderhistorypaging li {  margin:0 5px 0 0; padding:0 0 0 5px; font-size:11px; }
.xans-myshop-orderhistorypaging li:first-child { background:none; }
.xans-myshop-orderhistorypaging li strong { color:#000000; }
.xans-myshop-orderhistorypaging li a { color:#888888; }
.xans-myshop-orderhistorypaging li a:hover { color:#000000; text-decoration:none; }
.xans-myshop-orderhistorypaging li a.nolink { cursor:default; }