.xans-myshop-unavailpaging { clear:both; text-align:center; padding:8px 0; text-align:center; margin:0 auto 50px; width:900px; border-bottom:2px solid #e8e8e8;}
.xans-myshop-unavailpaging .pagingdh {float:right; background-color:#ffffff; padding-left:20px;}
.xans-myshop-unavailpaging p,
.xans-myshop-unavailpaging ol,
.xans-myshop-unavailpaging li { display:inline; }
.xans-myshop-unavailpaging img {vertical-align:middle; }
.xans-myshop-unavailpaging ol { margin:0 7px; }
.xans-myshop-unavailpaging li { margin:0 5px 0 0; padding:0 0 0 5px; font-size:11px; }
.xans-myshop-unavailpaging li:first-child { background:none; }
.xans-myshop-unavailpaging li strong { color:#000000; }
.xans-myshop-unavailpaging li a { color:#888888; }
.xans-myshop-unavailpaging li a:hover { color:#000000; text-decoration:none; }
.xans-myshop-unavailpaging li a.nolink { cursor:default; }

