.xans-myshop-wishlist {margin:0 auto 20px; padding:0; color:#333; width:900px; font-size:11px;}
.xans-myshop-wishlist .titleArea { margin:20px 0 30px 0; font-size:11px; color:#888888; padding:0 25px;}
.xans-myshop-wishlist .titleArea span { font-size:12px; font-weight:bold; margin:0 0 10px 0; color:#555555;}

.xans-myshop-wishlist div.boardList { margin:10px auto; width:100%; }
.xans-myshop-wishlist table {background:none; border:8px solid #f1f1f1;}
.xans-myshop-wishlist table th { padding:9px 10px; font-size:11px; color:#afafaf; font-weight:400; height:40px; line-height:20px; border-bottom:2px solid #f1f1f1; }
.xans-myshop-wishlist table td { padding:20px 10px; font-size:11px; text-align:center; border-top:2px solid #f1f1f1; color:#888888; }
.xans-myshop-wishlist table .first td { border:none; }

.xans-myshop-wishlist .thumb { width:15%; text-align:center; }
.xans-myshop-wishlist .thumb img { width:70px; }
.xans-myshop-wishlist .product { font-size:12px; width:35%; }
.xans-myshop-wishlist td.product { text-align:left; }
.xans-myshop-wishlist td.product a { Font-size:13px; color:#333333;}
.xans-myshop-wishlist td.product a:hover { Font-size:13px; color:#888888;}
.xans-myshop-wishlist .product .zoom { cursor:pointer; }
.xans-myshop-wishlist .option { width:20%; }
.xans-myshop-wishlist .option li { line-height:1.8em; }
.xans-myshop-wishlist .option input { display:block; border:1px solid #bcbcbc; padding:1px; }
.xans-myshop-wishlist .option select { display:block; }
.xans-myshop-wishlist td.option { text-align:left; }
.xans-myshop-wishlist .price {width:10%; }
.xans-myshop-wishlist td.price {}
.xans-myshop-wishlist td.price .custom { display:block; text-decoration:line-through; }
.xans-myshop-wishlist .button { width:20%; }
.xans-myshop-wishlist .button a { color:#333333; display:block; margin:0 5px 5px 20px;padding:0; text-align:left; font-size:11px; font-weight:bold; text-decoration:underline; }
.xans-myshop-wishlist .button a:hover { color:#888888;  text-decoration:underline; }

.xans-myshop-wishlist p.empty { background:none; border:8px solid #f1f1f1; padding:80px; text-align:center; height:200px; font-size:11px; color:#888888; }