.xans-myshop-wishlistpaging { clear:both; text-align:center; padding:8px 0; text-align:center; margin:0 auto 50px; width:900px; border-bottom:2px solid #e8e8e8;}
.xans-myshop-wishlistpaging .pagingdh {float:right; background-color:#ffffff; padding-left:20px;}
.xans-myshop-wishlistpaging p,
.xans-myshop-wishlistpaging ol,
.xans-myshop-wishlistpaging li { display:inline; }
.xans-myshop-wishlistpaging img {vertical-align:middle; }
.xans-myshop-wishlistpaging p { margin-right:-4px; }
.xans-myshop-wishlistpaging ol { margin:0 7px; }
.xans-myshop-wishlistpaging li { margin:0 5px 0 0; padding:0 0 0 5px; font-size:11px; }
.xans-myshop-wishlistpaging li:first-child { background:none; }
.xans-myshop-wishlistpaging li strong {  color:#000000; }
.xans-myshop-wishlistpaging li a { color:#888888; }
.xans-myshop-wishlistpaging li a:hover { color:#000000; text-decoration:none; }
.xans-myshop-wishlistpaging li a.nolink { cursor:default; }
