.bgbg {width:100%; height:700px; background-image:url('/test/images/login_bg.jpg'); background-position:center center; background-repeat:no-repeat; background-size:cover;}

.xans-member-findpasswdresult { overflow:hidden; font-size:11px; color:#8f8f91; text-align:center;   padding-top:60px; margin-top:0px; width:100%; }
.xans-member-findpasswdresult .whitebg { background-color: transparent; background-color: rgba(255, 255, 255, 0.8);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff); /* IE6–IE9 */  zoom: 1; height:300px; padding:40px;}

.xans-member-findpasswdresult .inner {overflow:hidden; width:900px; margin:0 auto;  text-align:left; color:#333333;  background:  transparent url("/test/images/find_bg.jpg") no-repeat right top; }


.xans-member-findpasswdresult .inner .mainCopy { margin:10px 0; padding:0; font-size:16px; color:#333; font-weight:bold; }
.xans-member-findpasswdresult .inner .subCopy {padding:0; font-size:11px; color:#555555;}


.xans-member-findpasswdresult .inner .memberInfo { overflow:hidden;  margin:20px 0;}
.xans-member-findpasswdresult .inner span.img { float:left;  }
.xans-member-findpasswdresult .inner span.txt { float:left; font-size:14px; }
.xans-member-findpasswdresult .inner span.txt strong { color:#202020; font-weight:normal; }
.xans-member-findpasswdresult .inner span.txt em  { color:#000000; font-size:18px; }
.xans-member-findpasswdresult .btnArea { padding:20px 0 0;  }
.xans-member-findpasswdresult .btnArea img { padding:0; }
