.bgbg {width:100%; height:700px; background-image:url('/test/images/login_bg.jpg'); background-position:center center; background-repeat:no-repeat; background-size:cover;}

.xans-member-findidresult { overflow:hidden;  font-size:11px; color:#8f8f91; text-align:center;   padding-top:60px; margin-top:0px; width:100%; }
.xans-member-findidresult .whitebg { background-color: transparent; background-color: rgba(255, 255, 255, 0.8);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff); /* IE6–IE9 */  zoom: 1; height:350px; padding:50px;}

.xans-member-findidresult .titleAreaa { width:900px;  margin:0 auto; text-align:left;}
.xans-member-findidresult .titleAreaa h2 {  font-size:14px; color:#333333; padding:20px 0 0 0;}
.xans-member-findidresult .titleAreaa p {  font-size:11px; color:#555555;}


.xans-member-findidresult .inner { width:900px; height:200px; margin:0 auto; font-size:.9em; color:#8f8f91; text-align:left; background:  transparent url("/test/images/find_bg.jpg") no-repeat right top; }
.xans-member-findidresult .inner .mainCopy { margin:10px 0; padding:0; font-size:16px; color:#333; font-weight:bold; }
.xans-member-findidresult .inner .mainCopy span { display:block; padding:16px 0 30px; font-size:11px; color:#8f8f91; line-height:18px; font-weight:normal; }
.xans-member-findidresult .inner .memberInfo { overflow:hidden;  margin:20px 0;}
.xans-member-findidresult .inner span.img { float:left;  }
.xans-member-findidresult .inner span.txt { float:left;  font-size:14px; }
.xans-member-findidresult .inner span.txt strong { color:#202020; font-weight:normal; }
.xans-member-findidresult .inner span.txt em { color:#000000; font-size:18px; }
.xans-member-findidresult .inner .subCopy { padding:16px 0 0; }
.xans-member-findidresult .btnArea { margin:10px 0; padding:10px 0 0;  }
.xans-member-findidresult .btnArea img { padding:0; }
