.xans-member-join { width:940px; margin:0 auto;}
.xans-member-join .titleArea { float:left; margin:30px 0 30px 0; font-size:11px; color:#888888;}
.xans-member-join .titleArea h2 { font-size:14px; margin:0 0 10px 0; color:#333333;}

.xans-member-join h3 { float:left; margin:30px 0 10px 0; font-size:14px;}
.xans-member-join .chkAdd { float:left; margin:32px 0 0 20px; color:#888888; font-size:11px; }
.xans-member-join .chkAdd2 { float:right; margin:32px 20px 0 0 ; color:#888888; font-size:11px; text-align:left; }

.xans-member-join div.boardView1 { clear:both; margin-top:18px; border:8px solid #f1f1f1; width:100%; padding:10px;}

.xans-member-join div.boardView3 {  margin-top:18px;  padding:20px; border:8px solid #f1f1f1; background:#ffffff; width:320px; position:absolute; z-index:23;top:431px; left:50%;margin-left:150px;}
.xans-member-join table.boardView4 { padding:10px; }
.xans-member-join table.boardView4 td {  padding:7px;  color:#888888; font-size:11px; border-bottom:0px solid #e6e6e6; line-height:14px; height:32px;}


.xans-member-join div.boardView { clear:both; margin-top:18px; border:8px solid #f1f1f1; width:600px; padding:20px;}
.xans-member-join table.boardView { background:#ffffff;  }

.xans-member-join table.boardView input,
.xans-member-join table.boardView textarea { border:0px solid #bcbcbc;  background-color:#f1f1f1;  padding:5px; }

.xans-member-join table.boardView th {font-size:11px; width:150px; padding:7px; text-align:left; line-height:16px; border-bottom:0px solid #e6e6e6; color:#333333; font-weight:normal; }
.xans-member-join table.boardView td { width:450px; padding:7px; border-bottom:0px solid #e6e6e6; line-height:16px; color:#8b8b8c;  font-size:11px;}
.xans-member-join table.boardView td fieldset { width:480px; }
.xans-member-join table.boardView td p { padding:0; line-height:16px; }
.xans-member-join table.boardView td.write { width:100%; }
.xans-member-join table.boardView td img { vertical-align:middle; }

.xans-member-join table.boardView thead th { border-bottom:3px solid #333; }
.xans-member-join table.boardView thead td { border-bottom:3px solid #333; }
.xans-member-join table.boardView tfoot th { border-top:3px solid #333; }
.xans-member-join table.boardView tfoot td { border-top:3px solid #333; }
.xans-member-join table.boardView .first { border-top:0; padding-top:20px; }

.xans-member-join .agreeArea { clear:both; padding:10px; background:#f1f1f1; border-top:0px solid #333; border-bottom:0px solid #333; font-size:11px; line-height:16px; color:#8f8f8f; }
.xans-member-join .agreeArea .agreeInner { overflow:auto; height:200px; padding:20px 20px 37px; border:0px solid #ddd; background:#fff; }
.xans-member-join .agreeArea .agreement { height:500px; }
.xans-member-join .agreeArea p { padding:5px 0 0; }
.xans-member-join .agreeArea p span { padding:0 20px 0 0;  }
.xans-member-join .agreeArea p.okok { text-align:right; padding:5px 20px 0 0; color:#555555;}

/* INPUT SIZE - MEMBERS */
.xans-member-join #hint_answer { width:300px; }
.xans-member-join #postcode1,
.xans-member-join #postcode2 { width:40px; text-align:center; padding:1px 0 2px 0;}
.xans-member-join #addr1,
.xans-member-join #addr2 { width:300px; margin:3px 0;}
.xans-member-join #phone1,
.xans-member-join #mobile1 { width:60px; margin:0 4px 0 0;}
.xans-member-join #phone2,
.xans-member-join #phone3,
.xans-member-join #mobile2,
.xans-member-join #mobile3 { width:80px; margin:0 4px;}
.xans-member-join #email1,
.xans-member-join #email2 { width: 100px; margin:0 4px 0 0;}
.xans-member-join #email2 { margin:0 4px; }
.xans-member-join #birth_year,
.xans-member-join #marry_year,
.xans-member-join #partner_year { width:60px; margin:0 4px 0 0;}
.xans-member-join #birth_month,
.xans-member-join #marry_month,
.xans-member-join #partner_month,
.xans-member-join #birth_day,
.xans-member-join #marry_day,
.xans-member-join #partner_day { width:30px; margin:0 4px 0 0;}

.xans-member-join #job,
.xans-member-join #job_class,
.xans-member-join #school,
.xans-member-join #region,
.xans-member-join #internet,
.xans-member-join #child,
.xans-member-join #car,
.xans-member-join #earning { width:200px; }

.xans-member-join #add1,
.xans-member-join #add2,
.xans-member-join #add3,
.xans-member-join #add4,
.xans-member-join #add5,
.xans-member-join #add6,
.xans-member-join #add7,
.xans-member-join #add8,
.xans-member-join #add9  { width:300px; }

.xans-member-join .btnArea { text-align:center; overflow:hidden; margin:40px auto; }
.xans-member-join .btnArea.miniType { margin:10px 0 20px; padding:0 15px; }
.xans-member-join .btnArea img { padding:0 1px 0 0; cursor:pointer; }

.xans-member-join .btnArea p.btnRight { margin:20px auto; }
.xans-member-join .btnArea p.btnRight img { margin:0 10px; }

#realNameAuth p span { display:inline-block; width:80px; }
#ipinWrap img { display:block; }
