.xans-layout-info { margin:30px 0; padding:0 0 25px; }
.xans-layout-info h2 { margin:0 0 20px; padding:0 0 11px; color:#454649; font-size:12px; background:url(http://img.echosting.cafe24.com/design/skin/electronic003/bg_h2.gif) 0 bottom no-repeat; }
.xans-layout-info ul { }
.xans-layout-info li { padding:0 0 0 12px; font-size:11px; line-height:2em; font-weight:bold; background:url(http://img.echosting.cafe24.com/design/skin/electronic003/ico_board.gif) 0 center no-repeat; }
.xans-layout-info li strong { width:48px; display:inline-block; .display:inline; zoom:1; font-weight:normal; text-transform:uppercase; }
