.xans-product-2 { clear:both; position:relative; overflow:hidden; height:280px; }

.xans-product-2 h2 { float:left; margin:16px 0; color:#2d1214; font:italic 16px georgia, sans-serif; }

.xans-product-2 p.description { float:left; margin:21px 0 0 30px; color:#999; font-size:11px; }

.xans-product-2 p.paging { float:right; margin:19px 0 0; }
.xans-product-2 p.paging a { overflow:hidden; float:left; width:19px; height:15px; margin:0 1px 0 0; text-indent:-9999px; background:url('//img.echosting.cafe24.com/design/skin/fashion017/btn_newarrival.gif') no-repeat 0 0; }
.xans-product-2 p.paging a:hover { background-position:0 -25px; }
.xans-product-2 p.paging a.next { margin-right:2px; background-position:-29px 0; }
.xans-product-2 p.paging a.next:hover { background-position:-29px -25px; }

.xans-product-2 ul { clear:both; position:relative; overflow:hidden; width:2232px; }
.xans-product-2 li { float:left; position:relative; margin:0 16px 0 0; }
.xans-product-2 li img { width:168px; height:188px; border:1px solid #e5e5e5; }
.xans-product-2 li p.information { display:none; position:absolute; bottom:1px; left:1px; width:168px; background:url('//img.echosting.cafe24.com/design/skin/fashion017/bg_newarrival_information.png') repeat 0 0; }
.xans-product-2 li:hover p.information { display:block; }
.xans-product-2 li p.information a { display:block; padding:10px 0 19px 9px; color:#bebebe; font-size:11px; }
.xans-product-2 li p.information a:hover { text-decoration:none; }
.xans-product-2 li p.information a strong { display:block; margin:3px 0 0; color:#ff772b; font:bold 12px tahoma, sans-serif; }