.xans-product-menupackage .path { overflow:hidden; margin:70px auto 10px; width:960px; padding-bottom:10px; border-bottom:2px solid #e8e8e8;}
.xans-product-menupackage .path ol { float:right;  color:#cccccc; padding-right:5px;}
.xans-product-menupackage .path li { padding:0 0 0 22px; display:inline; color:#888888;font-size:10px; background:url(/test/images/bg_path.gif) 0 50% no-repeat;}
.xans-product-menupackage .path li a { color:#888888; font-size:10px;}
.xans-product-menupackage .path li a:hover{ color:#000000; }
.xans-product-menupackage .path li.displaynone { display:none; font-size:10px;}
.xans-product-menupackage .path li.first { background:none; font-size:10px; }

.xans-product-menupackage .path .titleArea { float:left; height:21px; margin:0;}
.xans-product-menupackage .path .titleArea:after {content:""; display:block; clear:both; }
.xans-product-menupackage .path .titleArea h2 { padding:0 0 0 5px; color:#333333; font-size:14px; float:left; }

/*배경화면과 같이 쓰는 상단 위치*/
.xans-product-menupackage .pathlogin { overflow:hidden; margin:70px auto 0; width:960px; padding-bottom:10px; border-bottom:0px solid #e8e8e8;}
.xans-product-menupackage .pathlogin ol { float:right;  color:#cccccc; padding-right:5px;}
.xans-product-menupackage .pathlogin li { padding:0 0 0 22px; display:inline; color:#888888;font-size:10px; background:url(/test/images/bg_path.gif) 0 50% no-repeat;}
.xans-product-menupackage .pathlogin li a { color:#888888; font-size:10px;}
.xans-product-menupackage .pathlogin li a:hover{ color:#000000; }
.xans-product-menupackage .pathlogin li.displaynone { display:none; font-size:10px;}
.xans-product-menupackage .pathlogin li.first { background:none; font-size:10px; }

.xans-product-menupackage .pathlogin .titleArea { float:left; height:21px; margin:0;}
.xans-product-menupackage .pathlogin .titleArea:after {content:""; display:block; clear:both; }
.xans-product-menupackage .pathlogin .titleArea h2 { padding:0 0 0 5px; color:#333333; font-size:14px; float:left; }
/*배경화면과 같이 쓰는 상단 위치*/

.xans-product-menupackage .menuCategory { margin:10px; 0}
.xans-product-menupackage .menuCategory > li { overflow:hidden; padding:7px 0; border-bottom:1px solid #dedcdc; }
.xans-product-menupackage .menuCategory strong { float:left; width:100px; }
.xans-product-menupackage .menuCategory strong span {text-decoration:underline; }
.xans-product-menupackage .menuCategory strong a,
.xans-product-menupackage .menuCategory strong a:hover { padding:0 13px 0 0; color:#4b97b4; }
.xans-product-menupackage .menuCategory .sub { float:left; width:630px; overflow:hidden; }
.xans-product-menupackage .menuCategory .sub li { display:inline-block; .display:inline; zoom:1; padding:0 0 2px; }
.xans-product-menupackage .menuCategory .sub li a { padding:0 0 0 10px; margin:0 0 0 10px; color:#838382; background:url(http://img.echosting.cafe24.com/design/skin/mono/product/bg_category_3depth.gif) left center no-repeat; }
.xans-product-menupackage .menuCategory .sub li a:hover { color:#4b97b4; }
.xans-product-menupackage .menuCategory .sub li a.first { padding:0; background:none; }
.xans-product-menupackage .menuCategory .sub li span { padding:0 0 0 10px; margin:0 0 0 10px; font-size:.9em; color:#838382; background:url(http://img.echosting.cafe24.com/design/skin/mono/product/bg_category_3depth.gif) left center no-repeat; }


/* 컬렉션 상단*/

#col-inner2 { overflow:hidden; border:8px solid #f1f1f1; zoom:1; width:960px; padding:0; margin:20px auto; padding:0 20px 0 20px; background: #ffffff url("/test/images/logo_mini_60.png") no-repeat 97% 17%; font-family: 'Times New Roman', 'Times', 'serif';}

#col-inner2 div.myInfo2 { width:100%; line-height:20px; padding:10px 20px 15px 20px; color:#555555;  text-align:left;}
#col-inner2 div.myInfo2 h3 { font-style:italic;font-size:16px; width:100%; padding:10px 0 0 0; color:#000000;}
#col-inner2 div.myInfo2 p { margin:5px 0 0 0;padding:5px 0 0 0; font-size:11px; font-weight:normal; color:#333333;}

#col-inner2 div.myInfo3 {  line-height:20px; padding:16px 40px 15px 20px; color:#555555; text-align:right;}
#col-inner2 div.myInfo3 .mypage { width:100%; padding:30px 0 0 0; color:#000000; font-size:14px; font-weight:bold;}
#col-inner2 div.myInfo3 .mypage a { font-size:14px; font-weight:bold;  color:#888888;}
#col-inner2 div.myInfo3 .mypage a:hover { font-size:14px; font-weight:bold;  color:#333333; text-decoration:none;}
#col-inner2 div.myInfo3 .mypage img {margin:7px 10px;}
#col-inner2 div.myInfo3 p { margin:5px 0 0 0;padding:5px 0 0 0; font-size:11px; font-weight:bold; color:#333333;}