.xans-layout-footer { float:right; width:756px; padding:30px 0 0; background:url("http://img.echosting.cafe24.com/design/skin/junior001/bg_footer.gif") no-repeat scroll 0 0 transparent; }
.xans-layout-footer .utilMenu { overflow:hidden; zoom:1; }
.xans-layout-footer .utilMenu li { float:left; }
.xans-layout-footer .utilMenu li a { color:#6d595b; font-size:11px; border-right:1px solid #7a7a7a; margin:0 10px 0 0; padding:0 9px 0 0;}
.xans-layout-footer .inner {}
.xans-layout-footer p#copy { color:#afa79c; }
.xans-layout-footer p#address { padding:10px 0 15px; color:#afa79c; line-height:17px; font-size:11px; }
.xans-layout-footer p#address span { padding:0 15px 0 0; }
.xans-layout-footer p#address span a,
.xans-layout-footer p#address span a:hover { color:#afa79c;}
.xans-layout-footer #top { position:absolute; right:0; top:10px; }
