.xans-order-basketpackage #orderStep { margin:30px auto 30px; text-align:center;  width:940px; padding:30px;background:none; border:8px solid #f1f1f1; font-size:14px; color:#888888;}
.xans-order-basketpackage #orderStep span { font-weight:500; margin:0 20px;}
.xans-order-basketpackage #orderStep span.here { font-weight:700; margin:0 20px; color:#333333;}
.xans-order-basketpackage .orderList {margin:10px auto 0px; width:940px; border:0px solid #000;}
.xans-order-basketpackage .xans-order-empty .emptysb { margin:0 auto 50px; padding:30px 0; text-align:center; font-size:14px; line-height:40px; font-weight:bold; color:#555555; background-color:#f1f1f1; width:960px; height:100px;}
.xans-order-basketpackage .titleArea h3 { color:#202020; }


.xans-order-basketpackage .btnArea { text-align:right; overflow:hidden; margin:0 auto; width:940px; }
.xans-order-basketpackage .btnArea .btnLeft .boardBtndh { float:left; width:120px; height:52px; line-height:50px; margin-left:20px; padding:0; text-align:left; background-color:#ffffff; border:0px solid #d4d4d4;}
.xans-order-basketpackage .btnArea .btnLeft .boardBtndh:hover {background-color:#ffffff;  border:0px solid #e8e8e8;}
.xans-order-basketpackage .btnArea .btnLeft a { color:#333333; font-size:12px; font-weight:700;}
.xans-order-basketpackage .btnArea .btnLeft a:hover { color:#afafaf; font-size:12px;  font-weight:700;}

.xans-order-basketpackage .btnArea .btnRight .boardBtndhr { float:right; width:200px; height:40px; line-height:40px; margin-left:20px; padding:0; text-align:center; background-color:#666666; border:0px solid #666666;}
.xans-order-basketpackage .btnArea .btnRight .boardBtndhr:hover {background-color:#cccccc;  border:1px solid #cccccc;}
.xans-order-basketpackage .btnArea .btnRight a { color:#fff; font-size:16px;  font-weight:400;}
.xans-order-basketpackage .btnArea .btnRight a:hover { color:#fff; font-size:16px;  font-weight:400;}





.ordDelivery1 { background:none; border:8px solid #f1f1f1;}
.ordDelivery1 tfoot td { border-top:6px solid #f1f1f1; height:60px; line-height:20px; }
.ordDelivery1 tfoot td .type { color:#ccc; float:left; }
.ordDelivery1 .thumb { width:60px; text-align:center; }
.ordDelivery1 .thumb img { float:none; }

.ordDelivery2 { background:none; }
.ordDelivery2 td { border-top:1px solid #f1f1f1; background:#fafcfd;}
.ordDelivery2 tfoot td { border-top:2px solid #a0bdd9;  }
.ordDelivery2 tfoot td .type { color:#a0bdd9; float:left; }
.ordDelivery2 .thumb { width:60px; text-align:center; }
.ordDelivery2 .thumb img { float:none; }


.xans-order-allotmentinfo p.cardList { font-size:.9em; padding:6px 0 0; margin:6px 0 0; color:#34a7b3; text-align:right; border-top:1px solid #000; }


.xans-order-totalsummary { overflow:hidden; background:#ffffff; border:8px solid #f1f1f1; color:#555555; margin:20px auto; padding:22px 0 18px 22px; width:940px;}
.xans-order-totalsummary ul { float:right;  }
.xans-order-totalsummary li { float:right; display:inline; overflow:hidden;font-size:16px; padding:4px 0; text-align:right;}
.xans-order-totalsummary li strong {  width:150px; text-align:right;  }
.xans-order-totalsummary li span {  color:#000000; width:100px;  padding:0 30px 0 10px; text-align:right; }
.xans-order-totalsummary li.total strong { padding:4px 0 0;}
.xans-order-totalsummary li.total span { color:#000000;  font-weight:500; }

#NaverChk_Button { clear:both; margin:10px 0 0; float:right; }



.boardProduct { /*background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot.gif) 0 bottom repeat-x; */  }
.boardProduct th { padding:9px 10px; font-size:11px; color:#afafaf; font-weight:400; height:40px; line-height:20px;}
.boardProduct th.delivery { font-size:11px; color:#afafaf; font-weight:400; }
.boardProduct td { padding:20px 10px; font-size:11px; text-align:center; border-top:2px solid #f1f1f1; color:#888888; }


.boardProduct .chk { width:5%; }
.boardProduct .thumb { width:10%; overflow:hidden; }
.boardProduct .thumb a,
.boardProduct .thumb a:hover { color:#333; font-size:12px; }
.boardProduct .thumb img { width:70px; text-align:center; }
.boardProduct .thumb span { float:left; padding:0 0 0 8px; width:80px; text-align:left; }
.boardProduct .prduct { width:25%;  Font-size:11px;}
.boardProduct .prduct a { Font-size:13px; color:#333333;}
.boardProduct .prduct a:hover { Font-size:13px; color:#888888;}
.boardProduct .prduct img { vertical-align:middle; margin:0 2px; }
.boardProduct .sell { width:10%; }
.boardProduct .mileage { width:10%;}
.boardProduct .opt { width:280px; }
.boardProduct .quantity { width:15%; }
.boardProduct .quantity img { margin:0 0 0 2px; cursor:pointer; }
.boardProduct .delivery { width:5%; }
.boardProduct .charge { width:5%; }
.boardProduct .total { width:15%; }



.boardProduct .state { width:75px; }
.boardProduct .delivery1 { width:10%; }
.boardProduct .delivery2 { width:10%; }

.boardProduct td.chk {}
.boardProduct td.chk checkbox { border:none; }
.boardProduct td.thumb {}
.boardProduct td.prduct { text-align:left;}
.boardProduct td.prduct strong { display:block; padding:5px 0 0; font-weight:normal; color:#888a86; overflow:hidden; }
.boardProduct td.prduct .btnPrdWrite a { float:left; padding:1px; background:#b0b0b0; color:#fff; }
.boardProduct td.prduct ul { padding:5px 0 0; }
.boardProduct td.sell {}
.boardProduct td.mileage { }
.boardProduct td.opt {}
.boardProduct td.quantity input { width:25px; text-align:center; margin-right:5px; }
.boardProduct td.delivery { }
.boardProduct td.charge { }
.boardProduct td.total {  color:#000000; }

.boardProduct tfoot td { text-align:right; padding:7px 7px 20px; background:none; color:#000; }
.boardProduct tfoot td .total { color:#f8941d; }


