.xans-order-form { width:940px; margin:0 auto;}
.xans-order-form #orderStep { margin:30px auto 30px; text-align:center;  width:940px; padding:30px;background:none; border:8px solid #f1f1f1; font-size:14px; color:#888888;}
.xans-order-form #orderStep span { font-weight:500; margin:0 20px;}
.xans-order-form #orderStep span.here { font-weight:700; margin:0 20px; color:#333333;}
.xans-order-form .orderList {margin:10px auto 0px; width:940px; border:0px solid #000;}
.xans-order-form .orderList h3 {  font-size:14px; margin:0 0 10px 0; color:#333333; }
.xans-order-form .orderList h3 span { padding:0 0 0 9px; color:#34a7b3; font-weight:normal; font-size:14px; }

.xans-order-form .btnArea { text-align:center; overflow:hidden; margin:30px auto; width:940px;}
.xans-order-form .btnArea.miniType { margin:10px 0 20px; padding:0 15px; }
.xans-order-form .btnArea img { padding:0 1px 0 0; cursor:pointer; }

.xans-order-form .btnArea p.btnLeft { float:left; margin-left:20px;}
.xans-order-form .btnArea p.btnRight {   text-align:right; }
.xans-order-form .btnArea p.btnRight img {   }

.xans-order-form table.boardProduct { /*background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_dot.gif) 0 bottom repeat-x; */}
.xans-order-form table.boardProduct th {padding:9px 10px; font-size:11px; color:#afafaf; font-weight:400; height:40px; line-height:20px; }
.xans-order-form table.boardProduct th.delivery { font-size:11px; color:#afafaf; font-weight:400; }
.xans-order-form table.boardProduct td { padding:20px 10px; font-size:11px; text-align:center; border-top:2px solid #f1f1f1; color:#888888; }


.xans-order-form table.boardProduct .chk { width:5%; }
.xans-order-form table.boardProduct .thumb { width:10%; overflow:hidden; }
.xans-order-form table.boardProduct .thumb a,
.xans-order-form table.boardProduct .thumb a:hover { color:#333; font-size:12px;}
.xans-order-form table.boardProduct .thumb img { width:70px; text-align:center; }
.xans-order-form table.boardProduct .thumb span { float:left; padding:0 0 0 8px; width:80px; text-align:left; }
.xans-order-form table.boardProduct .prduct { width:25%;  Font-size:11px; }
.xans-order-form table.boardProduct .prduct a { Font-size:13px; color:#333333;}
.xans-order-form table.boardProduct .prduct a:hover { Font-size:13px; color:#888888;}
.xans-order-form table.boardProduct .sell { width:10%; }
.xans-order-form table.boardProduct .mileage {  width:10%;}
.xans-order-form table.boardProduct .opt { width:280px; }
.xans-order-form table.boardProduct .quantity { width:15%; }
.xans-order-form table.boardProduct .quantity img { margin:0 0 0 2px; cursor:pointer; }
.xans-order-form table.boardProduct .delivery { width:5%; }
.xans-order-form table.boardProduct .charge { width:5%; }
.xans-order-form table.boardProduct .total { width:15%; }


.xans-order-form table.boardProduct .state { width:75px; }
.xans-order-form table.boardProduct .delivery1 { width:75px; }
.xans-order-form table.boardProduct .delivery2 { width:75px; }

.xans-order-form table.boardProduct td.chk {}
.xans-order-form table.boardProduct td.thumb {}
.xans-order-form table.boardProduct td.prduct { text-align:left;}
.xans-order-form table.boardProduct td.prduct strong { display:block; padding:5px 0 0; font-weight:normal; color:#888a86; overflow:hidden; }
.xans-order-form table.boardProduct td.prduct .btnPrdWrite a { float:left; padding:1px; background:#b0b0b0; color:#fff; }
.xans-order-form table.boardProduct td.prduct ul { padding:5px 0 0; color:#888a86;}
.xans-order-form table.boardProduct td.sell {}
.xans-order-form table.boardProduct td.mileage { }
.xans-order-form table.boardProduct td.opt {}
.xans-order-form table.boardProduct td.quantity input {  width:25px; text-align:center; margin-right:5px; }
.xans-order-form table.boardProduct td.delivery { }
.xans-order-form table.boardProduct td.charge { }
.xans-order-form table.boardProduct td.total { color:#000000; }

.xans-order-form table.boardProduct tfoot td { text-align:right; padding:7px 7px 20px; background:none; color:#000; }
.xans-order-form table.boardProduct tfoot td .total { color:#000000; }

.xans-order-form .ordDetail1 { background:none; border:8px solid #f1f1f1; }
.xans-order-form .ordDetail1 tfoot td { border-top:6px solid #f1f1f1; height:60px; line-height:20px;}
.xans-order-form .ordDetail1 .thumb { width:60px; text-align:center; }
.xans-order-form .ordDetail1 .thumb img { float:none; }

.xans-order-form .ordDetail2 { background:none; }
.xans-order-form .ordDetail2 tbody td { border-top:1px solid #a0bdd9; background:#fafcfd; }
.xans-order-form .ordDetail2 tfoot td {border-top:2px solid #a0bdd9;  }

.xans-order-form #totalOrder { overflow:hidden; background:#ffffff; border:8px solid #f1f1f1; color:#555555; margin:5px auto; padding:18px 0 18px 22px; width:940px; }
.xans-order-form #totalOrder ul {float:right;}
.xans-order-form #totalOrder li { overflow:hidden;  display:inline; overflow:hidden;font-size:14px; padding:4px 0; text-align:right;}
.xans-order-form #totalOrder li strong { float:left; width:150px; text-align:right; font-weight:normal; }
.xans-order-form #totalOrder li span {color:#555555; width:100px;  padding:0 30px 0 10px; text-align:right; }
.xans-order-form #totalOrder li em { font-style:normal; }
.xans-order-form #totalOrder li.total { color:#000000; }
.xans-order-form #totalOrder li.total span {  color:#000000;  font-weight:500; font-size:16px;}
.xans-order-form #totalOrder p.ship { clear:both; text-align:right; }

.xans-order-form .orderArea { overflow:hidden; zoom:1; width:460px; margin:0;}
.xans-order-form .orderArea h3 {  float:left; margin:30px 0 10px 0; font-size:14px; }
.xans-order-form .orderArea table { clear:both; }

.xans-order-form .orderArea1 { overflow:hidden; zoom:1; width:100%; margin:0;}
.xans-order-form .orderArea1 h3 {  float:left; margin:30px 0 10px 0; font-size:14px; }
.xans-order-form .orderArea1 table { clear:both; }

.xans-order-form .orderArea .chkAdd { margin-bottom:5px; color:#555555; font-size:11px; }
.xans-order-form .orderArea .chkAdd label { color:#000; }
.xans-order-form .orderArea .chkAdd input { background-color:#ffffff; margin-right:3px; } /*td의 라디오버튼*/
.xans-order-form .orderArea .chkAdd img { vertical-align:middle; }

.xans-order-form div.boardView { clear:both; margin-top:18px; border:8px solid #f1f1f1; padding:15px;}
.xans-order-form table.boardView {  background-color:#ffffff; font-size:11px; line-height:16px;}
.xans-order-form table.boardView input,
.xans-order-form table.boardView select,
.xans-order-form table.boardView textarea {  border:0px solid #bcbcbc;  background-color:#f1f1f1;  padding:2px; margin:0 5px 5px 5px; }
.xans-order-form table.boardView thead th {}
.xans-order-form table.boardView thead td {}
.xans-order-form table.boardView tfoot th { }
.xans-order-form table.boardView tfoot td {}
.xans-order-form table.boardView .first { border-top:0; padding-top:0px; }
.xans-order-form table.boardView th { width:20%; padding:5px; text-align:left; line-height:16px; border-bottom:0px solid #e6e6e6; color:#333333; font-weight:normal;}
.xans-order-form table.boardView td { width:80%; padding:5px; text-align:left; border-bottom:0px solid #e6e6e6; line-height:16px; color:#8b8b8c; }
.xans-order-form table.boardView td.write { width:100%; }
.xans-order-form table.boardView td img { margin:0 3px;  }
/*td별 인풋 스타일*/
.xans-order-form table.boardView td.deme textarea { width:300px; height:54px; background-color:#f1f1f1;  padding:10px; margin:0 5px 5px 5px; }
.xans-order-form table.boardView td.deem input { width:80px; background-color:#f1f1f1;  padding:2px; margin:0 5px 5px 5px; }


.xans-order-form table.ordAdd .price { color:#34a7b3; font-size:16px; }
.xans-order-form table.ordAdd .mileage { color:#00aeef; font-weight:normal; }
.xans-order-form table.ordAdd .colType { padding-left:0 }

.xans-order-form table.ordAdd input.btn { padding:1px 3px;}
.xans-order-form table.ordAdd #total_price { background:#f6f7f9; margin:0 4px 0 0; }
.xans-order-form table.ordAdd #eguarantee_personal #eguarantee_ssn1 { width:80px; }
.xans-order-form table.ordAdd #eguarantee_personal #eguarantee_ssn2 { width:80px; }

.basketInfo { font-size:11px; color:#888888; margin:50px 0 10px 0;}
.basketInfo p { padding:0 0 5px 0; padding:0 0 5px 0; line-height:18px; color:#888888; font-weight:normal; font-size:11px;}
.basketInfo li { padding:0 0 0 10px; line-height:18px; background:url(http://img.echosting.cafe24.com/design/skin/mono/ico_info.gif) 0 2px no-repeat; font-size:11px; }
.basketInfo li > strong { display:block; padding:0 0 5px; }
.basketInfo li ul { padding:0 0 20px; font-size:11px; }
.basketInfo li li { padding:0; background:none; font-size:11px;}
.basketInfo a,
.basketInfo a:hover {color:#555555; }
.basketInfo.mileageType { margin:50px 0 0;}
.basketInfo.couponType em { color:#555555; text-decoration:underline; }

#bankBenefit {  overflow:hidden; zoom:1; margin:1px auto; width:940px; padding:5px 15px; color:#888888;  }
#bankBenefit p { float:right;}
#bankBenefit p.myInfo { padding:0; line-height:16px; font-size:11px; text-align:right; }
#bankBenefit p strong { color:#555555; }
#bankBenefit p span.typeBlock { display:block; }

#bankBenefit p span.typeBlock { display:block; }

.xans-order-form table.boardView input#hope_shipping_fast0 { border:0; background:none;}
.xans-order-form table.boardView input#nm_agreement0 { border:0; background:none;}
.xans-order-form table.boardView input#nm_agreement1 { border:0; background:none;}
.xans-order-form table.boardView input#subscription_agreement0 { border:0; background:none;}
.xans-order-form table.boardView input#subscription_agreement1 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod0 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod1 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod2 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod3 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod4 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod5 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod6 { border:0; background:none;}
.xans-order-form table.boardView input#addr_paymethod7 { border:0; background:none;}

#subscription_terms { width:590px; height:200px; }

#divNvPointInfo { display:none; position:absolute; z-index:99; width:245px; padding:10px; color:#777; font-size:11px; line-height:14px; background:#fff; border:1px solid #5B9761; }
#divNvPointInfo a { display:block; padding:5px 0 0; color:#1ec228; }
#divNvPointInfo a img { vertical-align:middle; }
#imgNaverMileageHelp { cursor:pointer; }