.xans-layout-statelogon { overflow:hidden; zoom:1;height:23px;line-height:23px; }
.xans-layout-statelogon .member { float:left; width:384px; }
.xans-layout-statelogon .member .myinfo { position:relative; top:-5px; padding:0 10px 0 0; color:#8f8475; }
.xans-layout-statelogon .member strong { color:#8f8475; }
.xans-layout-statelogon .member a,
.xans-layout-statelogon .member a:hover { color:#eba53b;text-decoration:underline; }
.xans-layout-statelogon .member img{margin-top:7px}
.xans-layout-statelogon .util { float:left; }
.xans-layout-statelogon .util img { margin:7px 0 0 4px; }
.xans-layout-statelogon .member .myinfo .icon_more{display:inline-block;width:11px;height:21px;padding-right:10px;background:url(http://img.echosting.cafe24.com/design/skin/fashion003/icon_add.gif) center 10px no-repeat;}
