.xans-board-title .pathBoard { overflow:hidden; margin:3px 0 17px; }
.xans-board-title .pathBoard h3 { float:left; text-indent:-9999em; margin:0; }
.xans-board-title .pathBoard ol { float:right; }
.xans-board-title .pathBoard li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-board-title .pathBoard li.first { background:none; }

.xans-board-title .titleAreaBoard { margin:17px 0 30px; }
.xans-board-title .titleAreaBoard:after {content:""; display:block; clear:both; }
.xans-board-title .titleAreaBoard h2 { height:21px; border-bottom:1px solid #dedcdc; zoom:1;}
.xans-board-title .titleAreaBoard h2 span { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; }
.xans-board-title .titleAreaBoard p { padding:3px 0 0; clear:both; font-size:.9em; line-height:1.5em; color:#8f8f8f; }

.xans-board-commentdel {  margin:0 auto; padding:0; color:#333; width:960px; font-size:11px;  }
.xans-board-commentdel h3 { margin:0; }
.xans-board-commentdel .login { overflow:hidden; background:none; border:8px solid #f1f1f1; padding:0px; margin-top:0; font-size:11px; text-align:center;}
.xans-board-commentdel .login p { margin:20px 0; font-size:11px; color:#888888; }
.xans-board-commentdel .login p.check { }
.xans-board-commentdel .login p.check img { display:block; padding:8px 0 4px; }
.xans-board-commentdel .login p.check input { font-size:11px; width:200px; background-color:#f1f1f1; border:none; margin:0 0 0 10px;  }
.xans-board-commentdel .btn { overflow:hidden; padding:0; }
.xans-board-commentdel .btn a { }
.xans-board-commentdel .login .btn input#cancelok {width:112px; height:32px; background:none; border:none; margin:0 0 0 10px;}
