/* 게시판 전체 공통 */
.xans-board-title .pathBoard { overflow:hidden; margin:3px 0 17px; }
.xans-board-title .pathBoard h3 { float:left; text-indent:-9999em; margin:0; }
.xans-board-title .pathBoard ol { float:right; }
.xans-board-title .pathBoard li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-board-title .pathBoard li.first { background:none; }

.xans-board-title .titleAreaBoard { margin:17px 0 30px; *zoom:1; }
.xans-board-title .titleAreaBoard:after {content:""; display:block; clear:both; }
.xans-board-title .titleAreaBoard h2 { height:21px; border-bottom:1px solid #dedcdc; zoom:1;}
.xans-board-title .titleAreaBoard h2 span { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; }
.xans-board-title .titleAreaBoard p { padding:3px 0 0; clear:both; font-size:.9em; line-height:1.5em; color:#8f8f8f; }
.xans-board-title .titleAreaBoard p.imgArea { margin:30px 0 0 0; padding:0px; text-align:center; }

.xans-board-category { margin:0 0 10px; }

/* 갤러리형 탭메뉴 */
ul.xans-board-listheader { text-align:right; padding:0 0 10px; }
ul.xans-board-listheader li { display:inline; }
/* //갤러리형 탭메뉴 */

.xans-board-listpackage { margin:0 auto; padding:0; color:#333; width:960px; font-size:11px; }

.xans-board-listpackage div.boardList { overflow:hidden; background:none; border:8px solid #f1f1f1; padding:0px; margin-top:0; font-size:11px;}
.xans-board-listpackage table th { padding:11px 10px; font-size:11px; color:#afafaf; font-weight:400; height:40px; line-height:16px; border-bottom:2px solid #f1f1f1; }
.xans-board-listpackage table td { padding:12px 10px; font-size:11px; text-align:center; border-top:1px solid #f1f1f1; color:#888888;  vertical-align:middle; }
.xans-board-listpackage table a { color:#333333; }
.xans-board-listpackage table a:hover { color:#888888; }

.xans-board-listpackage table .first td { background:none; }
.xans-board-listpackage table .subject {}
.xans-board-listpackage table td.subject { text-align:left; }
.xans-board-listpackage table .subject img { vertical-align:middle; margin:0 1px; }
.xans-board-listpackage table .number { width:8%; }
.xans-board-listpackage table .category { width:10%; }
.xans-board-listpackage table td.category { width:10%; }
.xans-board-listpackage table .name { width:10%; }
.xans-board-listpackage table .date { width:10%; }
.xans-board-listpackage table .hit { width:7%; }
.xans-board-listpackage table .grade { width:60px; }
.xans-board-listpackage table .writer { width:10%; }
.xans-board-listpackage table .recom { width:45px; }
.xans-board-listpackage table .thumb { width:10%; overflow:hidden; }
.xans-board-listpackage table .thumb a,
.xans-board-listpackage table .thumb a:hover { color:#000; }
.xans-board-listpackage table .thumb img { width:70px; float:center; }
.xans-board-listpackage table .thumb span { float:left; padding:0 0 0 8px; width:80px; text-align:left; }

.xans-board-listpackage table tbody.notice { background-color:#f1f1f1; }
.xans-board-listpackage table tbody.notice .first td { background:none; padding-top:15px; }
.xans-board-listpackage table tr.cont td { text-align:left; }

.xans-board-listpackage .xans-board-buttonlist { text-align:right; overflow:hidden; margin:20px 0 0 0; }
.xans-board-listpackage .xans-board-buttonlist img { float:right; cursor:pointer; }

/* 상품후기 아코디언형 */
.xans-board-notice #content_view td { padding:9px 10px 20px; background:#f6f7f9; text-align:left; }
.xans-board-list #content_view td { padding:9px 10px 20px; background:#f6f7f9; text-align:left; word-break:break-all; white-space:pre-wrap; }
/* //상품후기 아코디언형 */