.xans-board-title .pathBoard { overflow:hidden; margin:3px 0 17px; }
.xans-board-title .pathBoard h3 { float:left; text-indent:-9999em; margin:0; }
.xans-board-title .pathBoard ol { float:right; }
.xans-board-title .pathBoard li { padding:0 0 0 22px; display:inline; font-size:.9em; background:url(http://img.echosting.cafe24.com/design/skin/mono/bg_path.gif) 0 50% no-repeat; }
.xans-board-title .pathBoard li.first { background:none; }

.xans-board-title .titleAreaBoard { margin:17px 0 30px; }
.xans-board-title .titleAreaBoard:after {content:""; display:block; clear:both; }
.xans-board-title .titleAreaBoard h2 { height:21px; border-bottom:1px solid #dedcdc; zoom:1;}
.xans-board-title .titleAreaBoard h2 span { height:21px; padding:0 5px 0 0; color:#272823; font-size:16px; float:left; border-bottom:1px solid #272823; }
.xans-board-title .titleAreaBoard p { padding:3px 0 0; clear:both; font-size:.9em; line-height:1.5em; color:#8f8f8f; }
/* write */
.xans-board-modify div.boardView { clear:both;  margin:30px auto 0; padding:20px; color:#333; width:960px; font-size:11px;  border:8px solid #f1f1f1; }

.xans-board-modify table {background:#ffffff;   margin-top:0; font-size:11px; width:100%; }
.xans-board-modify table input,
.xans-board-modify table textarea { border:0px solid #bcbcbc;  background-color:#f1f1f1;  padding:2px; margin:0 5px 5px 5px;  }
.xans-board-modify table .first { border-top:0; padding-top:20px; }
.xans-board-modify table th { width:80px; text-align:left;  padding:9px 10px; font-size:11px; color:#afafaf; font-weight:400; height:30px; line-height:20px; }

.xans-board-modify table td {  text-align:left;  padding:9px 10px; font-size:11px; color:#afafaf; font-weight:400; height:30px; line-height:20px;   }
.xans-board-modify table td.write {  width:100%; padding:0; }
.xans-board-modify table td img { vertical-align:middle; }
.xans-board-modify table td.view { border-bottom:3px solid #333; }
.xans-board-modify table td.view .detail { padding:30px 10px; }
.xans-board-modify table td.consult { border:0; }

.xans-board-modify table tr.agree th { vertical-align:middle; font-weight:bold; color:#8d91a2; background:#f0f4ed; border-top:3px solid #333; }
.xans-board-modify table tr.agree td { padding:10px 0; background:#f0f4ed; border-top:3px solid #333; }
.xans-board-modify table tr.agree td textarea { width:600px; height:140px; margin:0 0 10px; color:#8B8B8C; }
.xans-board-modify table tr.agree td #privacy_agreement_radio0 { border:none; width:auto; height:auto; margin:0 3px 0 0; vertical-align:middle; background:none; }
.xans-board-modify table tr.agree td #privacy_agreement_radio1 { border:none; width:auto; height:auto; margin:0 3px 0 0; vertical-align:middle; background:none; }

.xans-board-modify table #subject { width:450px; }
.xans-board-modify table #ucc_width { width:30px; padding:1px 0; text-align:center; }
.xans-board-modify table #ucc_height { width:30px; padding:1px 0; text-align:center; }

.xans-board-modify .btnArea { text-align:right; overflow:hidden; zoom:1; margin:20px auto; width:960px; }
.xans-board-modify .btnArea img { padding:0; cursor:pointer;}
.xans-board-modify .btnArea p.btnLeft { float:left; }
.xans-board-modify .btnArea .btnRight {  }
.xans-board-modify .btnArea .btnRight img { margin:0 10px;  }

.xans-board-modify .prdSelect { overflow:hidden; padding:9px; background:#dbece8; border:1px solid #d2d2cf; }
.xans-board-modify .prdSelect p.prdArea { float:left; margin:0; border:1px solid #fff; }
.xans-board-modify .prdSelect p.prdArea img { width:86px; }
.xans-board-modify .prdSelect .prdInfo { float:left; width:520px; padding:20px 0 0 20px; }
.xans-board-modify .prdSelect .prdInfo h3 { font-size:20px; }
.xans-board-modify .prdSelect .prdInfo h3 img { vertical-align:middle; }
.xans-board-modify .prdSelect .price { margin:15px 0; font-size:16px; font-weight:bold; color:#34a7b3; }
.xans-board-modify .prdSelect .btn {}