.xans-board-search { padding:2px 8px; background:#dddddd; color:#888; font-size:11px; }
.xans-board-search p { padding:10px 0; }
.xans-board-search input { border:1px solid #bcbcbc; padding:2px; }
.xans-board-search .boardSearch { display:block; }
